* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden !important;
}

.parent {
  height: 450vh;
  position: relative;
}

.circle-container {
  height: 100vh;
  /* width: 100vw; */
  position: sticky;
  top: 0;
  overflow: hidden;
}
.circle-container::-webkit-scrollbar {
  display: none !important;
}

.circle {
  width: 100vw;
  height: 100vw;
  max-width: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  bottom: 0;
  transform-origin: center calc(50vw);
  position: absolute;
  bottom: -130%;
}

.svg {
  width: 200%;
}

.box {
  position: absolute;
  width: 350px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.first,
.second {
  height: 100vh;
  background-color: aqua;
}

.carding1 {
  transform: rotate(228deg) translateX(65vw) rotate(90deg);
}

.carding2 {
  transform: rotate(261deg) translateX(62vw) rotate(99deg) translateY(0vw);
}

.carding3 {
  transform: rotate(295deg) translateX(54vw) rotate(106deg);
}

.carding4 {
  transform: rotate(-19deg) translateX(60vw) rotate(102deg) translateY(18vw);
}

.carding5 {
  transform: rotate(31deg) translateX(43vw) rotate(95deg) translateY(9vw);
}
.carding6 {
  transform: rotate(89deg) translateX(47vw) rotate(81deg) translateY(11vw);
}
.carding7 {
  transform: rotate(135deg) translateX(62vw) rotate(73deg) translateY(17vw);
}

@media only screen and (max-width: 1450px) and (min-width: 1400px) {
  .circle-container {
    height: 100vh;
  }
  /* .carding3 {
    transform: rotate(292deg) translateX(55vw) rotate(109deg);
  } */
}

@media only screen and (max-width: 1500px) and (min-width: 1450px) {
  .circle-container {
    height: 100vh;
  }
  /* .carding3 {
    transform: rotate(292deg) translateX(57vw) rotate(109deg);
  } */
}

@media only screen and (max-width: 1600px) and (min-width: 1550px) {
  .circle-container {
    height: 100vh;
  }
  .carding5 {
    transform: rotate(31deg) translateX(43vw) rotate(96deg) translateY(10vw);
  }
  .carding6 {
    transform: rotate(89deg) translateX(47vw) rotate(81deg) translateY(13vw);
  }
  .carding4 {
    transform: rotate(-21deg) translateX(60vw) rotate(102deg) translateY(18vw);
  }
  .carding3 {
    transform: rotate(293deg) translateX(54vw) rotate(106deg);
  }
  .carding2 {
    transform: rotate(259deg) translateX(62vw) rotate(101deg) translateY(0vw);
  }
}
@media only screen and (max-width: 1550px) and (min-width: 1500px) {
  .circle-container {
    height: 105vh;
  }
  /* .carding3 {
    transform: rotate(292deg) translateX(57vw) rotate(109deg);
  } */
  .carding5 {
    transform: rotate(29deg) translateX(43vw) rotate(96deg) translateY(11vw);
  }
  .carding6 {
    transform: rotate(89deg) translateX(47vw) rotate(81deg) translateY(13vw);
  }
  .carding4 {
    transform: rotate(-24deg) translateX(60vw) rotate(102deg) translateY(18vw);
  }
  .carding3 {
    transform: rotate(292deg) translateX(54vw) rotate(107deg);
  }
  .carding2 {
    transform: rotate(259deg) translateX(62vw) rotate(101deg) translateY(0vw);
  }
}

@media only screen and (max-width: 1650px) and (min-width: 1600px) {
  .circle-container {
    height: 100vh;
  }
}

@media only screen and (max-width: 1750px) and (min-width: 1650px) {
  .circle-container {
    height: 100vh;
  }
  .carding2 {
    transform: rotate(261deg) translateX(60vw) rotate(99deg) translateY(-16vw);
  }
  .carding1 {
    transform: rotate(219deg) translateY(10vw) translateX(76vw) rotate(90deg);
  }
  .carding3 {
    transform: rotate(301deg) translateY(0vw) translateX(65vw) rotate(105deg);
  }
  .carding4 {
    transform: rotate(-12deg) translateX(62vw) rotate(102deg) translateY(10vw);
  }
  .carding5 {
    transform: rotate(40deg) translateX(53vw) rotate(91deg) translateY(9vw);
  }
  .carding6 {
    transform: rotate(88deg) translateX(57vw) rotate(82deg) translateY(11vw);
  }
  .carding7 {
    transform: rotate(131deg) translateX(67vw) rotate(80deg) translateY(14vw);
  }
}

@media only screen and (max-width: 1800px) and (min-width: 1700px) {
  .circle-container {
    height: 100vh;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1250px) {
  .circle-container {
    height: 91vh;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
  .circle-container {
    height: 90vh;
  }
}
@media only screen and (max-width: 2460px) and (min-width: 2000px) {
  .circle-container {
    height: 100vh;
  }
}
