* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  height: 450vh;
  position: relative;
}

.circle-container {
  height: 85vh;
  width: 100vw;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.circle {
  width: 100vw;
  height: 100vw;
  max-width: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  bottom: 0;
  transform-origin: center calc(50vw);
  position: absolute;
  bottom: -130%;
}
.svg{
  width: 200%;
}

.box {
  position: absolute;
  width: 350px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.first,
.second {
  height: 100vh;
  background-color: aqua;
}
@media only screen and (max-width: 1450px) and (min-width: 1400px) {
  .circle-container{
    height: 99vh;
  }
}
@media only screen and (max-width: 1500px) and (min-width: 1450px) {
  .circle-container{
    height: 102vh;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1550px) {
  .circle-container{
    height: 108vh;
  }
}
@media only screen and (max-width: 1550px) and (min-width: 1500px) {
  .circle-container{
    height: 108vh;
  }
}
@media only screen and (max-width: 1650px) and (min-width: 1600px) {
  .circle-container{
    height: 108vh;
  }
}
@media only screen and (max-width: 1700px) and (min-width: 1650px) {
  .circle-container{
    height: 108vh;
  }
}
@media only screen and (max-width: 1800px) and (min-width: 1700px) {
  .circle-container{
    height: 110vh;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1250px) {
.circle-container{
  height: 92vh; 
}
}
@media only screen and (max-width: 2460px) and (min-width: 1800px) {
  .circle-container{
    height: 115vh;
  }
}

