* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  height: 450vh;
  position: relative;
}

.circle-container {
  height: 100vh;
  width: 100vw;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.circle {
  width: 100vw;
  height: 100vw;
  max-width: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  bottom: 0;
  transform-origin: center calc(50vw);
  position: absolute;
  bottom: -130%;
}

.svg {
  width: 200%;
}

.box {
  position: absolute;
  width: 350px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.first,
.second {
  height: 100vh;
  background-color: aqua;
}

.carding1 {
  transform: rotate(228deg) translateX(67vw) rotate(90deg);
}

.carding2 {
  transform: rotate(259deg) translateX(64vw) rotate(101deg) translateY(0vw);
}

.carding3 {
  transform: rotate(294deg) translateX(55vw) rotate(109deg);
}

.carding4 {
  transform: rotate(-19deg) translateX(61vw) rotate(103deg) translateY(18vw);
}

.carding5 {
  transform: rotate(30deg) translateX(44vw) rotate(97deg) translateY(11vw);
}
.carding6 {
  transform: rotate(83deg) translateX(44vw) rotate(78deg) translateY(11vw);
}

@media only screen and (max-width: 1450px) and (min-width: 1400px) {
  .circle-container {
    height: 100vh;
  }
  .carding3 {
    transform: rotate(292deg) translateX(55vw) rotate(109deg);
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1450px) {
  .circle-container {
    height: 100vh;
  }
  .carding3 {
    transform: rotate(292deg) translateX(57vw) rotate(109deg);
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1550px) {
  .circle-container {
    height: 100vh;
  }
}

@media only screen and (max-width: 1550px) and (min-width: 1500px) {
  .circle-container {
    height: 105vh;
  }
  .carding3 {
    transform: rotate(292deg) translateX(57vw) rotate(109deg);
  }
}

@media only screen and (max-width: 1650px) and (min-width: 1600px) {
  .circle-container {
    height: 100vh;
  }
}

@media only screen and (max-width: 1700px) and (min-width: 1650px) {
  .circle-container {
    height: 100vh;
  }
}

@media only screen and (max-width: 1800px) and (min-width: 1700px) {
  .circle-container {
    height: 100vh;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1250px) {
  .circle-container {
    height: 100vh;
  }
}

@media only screen and (max-width: 2460px) and (min-width: 1800px) {
  .circle-container {
    height: 100vh;
  }
}
