.slider-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url("./assets/background.png");
}

.home-container {
  min-height: 100vh;
  box-sizing: border-box;
}

.milkbg {
  position: absolute;
  width: 35%;
  height: 90%;
  left: 35%;
}

.milkbg1 {
  position: absolute;
  right: 20%;
  bottom: 30%;
}

.milkbg2 {
  position: absolute;
  right: 15%;
  bottom: 40%;
}

.milkbg3 {
  position: absolute;
  left: 20%;
  top: 40%;
}
.object-order{
  position: absolute;
  left: 0;
  bottom: 0;
}

.order-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 6%;
  bottom: 15%;
  cursor: pointer;
  gap: 20px;
}

.paneer-button {
  cursor: pointer;
}

.milk-button {
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  opacity: 0.4;
  width: 90%;
  padding: 10px;
}

.yogart-button {
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  opacity: 0.4;
  width: 90%;
  padding: 10px;
}

.icecream-button {
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  opacity: 0.4;
  width: 90%;
  padding: 10px;
}

/* Container pure */
.container-pure {
  background-image: url("./assets/background.png");
  position: relative;
}

.row-pure {
  padding-top: 12%;
}

.crafted-pure {
  color: white;
  text-transform: uppercase;
  font-family: "Chivo Mono", serif;
  font-size: 20px;
  padding-left: 10%;
}

.pure-heading {
  font-size: 100px;
  color: white;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
  line-height: 5rem;
}

.words {
  width: 85%;
}

.protein-cap {
  position: absolute;
  right: 15%;
}

.shop-now-button {
  background-color: #ffffff;
  font-family: "Chivo Mono", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  fill: #000000;
  color: #000000;
  border-radius: 18px;
  box-shadow: -1px 2px 0px 4px #fc5e3b;
  padding: 12px 80px;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 25%;
  left: 5%;
}

.shop-now-button:hover {
  box-shadow: -1px 2px 0px 6px #ff7a5c;
}

/* Power of protein */
.power-container {
  background-color: white;
  padding: 70px;
  position: relative;
}

.power-space {
  background-color: #cde0fc;
  border-radius: 20px;
}

.power-heading {
  font-size: 100px;
  color: #0052f0;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-top: 10%;
  line-height: 5rem;
}

.build {
  font-size: 40px;
  color: #fc5e3b;
  font-family: "Anybody", serif;
  font-style: italic;
  font-weight: 900;
}

.build-para {
  font-size: 20px;
  font-family: "Chivo Mono", Sans-serif;
}

.build-container {
  display: grid;
  justify-content: end;
  padding-bottom: 3%;
}

.protein-slogan {
  width: 60%;
  position: absolute;
  left: 20%;
  bottom: 2%;
}

.weight-lift {
  padding-left: 25%;
}

/* Raising Star*/
.raising-container {
  background-color: white;
  display: flex;
  justify-content: center;
}

.raising-star {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.raising-heading {
  font-size: 100px;
  color: #fc5e3b;
  font-family: "Anybody", serif;
  font-style: italic;
  color: #0052f0;
  font-weight: 900;
}

.raising-protein {
  width: 25%;
}

/* Comparison Table Styles */
.comparison-table {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
}

.comparison-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 12%;
  height: 50vh;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  padding: 10px;
}

.comparison-column.highlighted {
  background-color: #0052f0;
  color: white;
}

.comparison-column.labels {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
}

.label {
  font-size: 16px;
  text-align: left;
  color: #0052f0;
  font-family: "Chivo Mono", Sans-serif;
}

.product img {
  width: 40%;
}

.product .star {
  font-size: 20px;
  color: #ffcc00;
}

.icon img {
  width: 100%;
}

.value {
  font-size: 16px;
  font-family: "Chivo Mono", Sans-serif;
}

/* Wholesome */
.wholesome-container {
  background-color: white;
  position: relative;
}

.wholesome-heading {
  text-align: center;
}

.protein-packed {
  color: #FC5E3B;
  font-size: 25px;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;

}

.wholesome-para {
  font-size: 115px;
  color: #0051F1;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1em;
  padding-bottom: 8%;
}

.veg-bowl {
  position: absolute;
  top: 20%;
  width: 25%;
  right: 38%;
}

.recepies-button {
  cursor: pointer;
}

.stickers {
  position: absolute;
  top: 30%;
  left: 12%;
}

.muscle-para {
  position: absolute;
  right: 10%;
  bottom: 32%;
  text-align: justify;
  font-size: 18px;
  font-family: "Chivo Mono", Sans-serif;
}

.arrow-point {
  position: absolute;
  bottom: 20%;
}

.slider-image {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.left {
  left: 10%;
}

.right {
  right: 10%;
}

.arrow:hover {
  color: #007bff;
}

/* Paradigm */
.container-paradigm {
  background-color: white;
  padding-bottom: 10%;
  padding-top: 10%;
}

.icon-paradigm {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.paradigm-heading {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  text-align: center;
}

.main-heading {
  font-size: 100px;
  color: #004ef0;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
}

.paradigm-para {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  text-align: center;
}

.main-para {
  font-size: 20px;
  font-family: "Chivo Mono", serif;
  text-transform: uppercase;
}

.link-to-know {
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  text-align: center;
  font-family: "Chivo Mono", serif;
  font-weight: 800;
  padding-top: 10%;
}

.card-section {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 3%;
}

.card1,
.card2,
.card3 {
  width: 25%;
  height: 55vh;
  perspective: 1000px;
  /* Adds depth effect */
  box-shadow: -10px 10px rgba(40, 130, 255, 0.5);
  border-radius: 20px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card1:hover .card-inner,
.card2:hover .card-inner,
.card3:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.card-front {
  background: #004ef0;
  color: white;
  transform: rotateY(0deg);
}

.card-back {
  background: white;
  color: #004ef0;
  transform: rotateY(180deg);
  border: 1px solid #004ef0;
}

.card1 {
  transform: rotate(-30deg) translateY(100px) translateX(-100px);
}

.card3 {
  transform: rotate(30deg) translateY(100px) translateX(100px);
}

.card1:hover {
  transform: rotate(-30deg) translateY(90px) translateX(-100px);
}

.card2:hover {
  transform: translateY(-10px);
}

.card3:hover {
  transform: rotate(30deg) translateY(90px) translateX(100px);
}

.card-icon {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card-text {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
}

.back-text {
  font-size: 15px;
  font-weight: bold;
  font-family: "Chivo Mono", serif;
  color: #000000;
}

.back-heading {
  color: #004ef0;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Anybody", serif;
  font-weight: 900;
}


/* Proteins */
.proteins-container {
  padding-top: 10%;
  background-image: url("./assets/Backgroundmilk.png");
  background-size: cover;
  position: relative;
}

.protein-image {
  width: 100%;
  padding-top: 10%;
}

/* Milk */
.milk-image {
  width: 20%;
  padding-left: 5%;
  padding-top: 18%;
}

.footers-links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 35px;
  color: white;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
  padding-right: 14%;
}

.footers-links li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: text-decoration 0.3s ease;
}

.footers-links li:hover {
  text-decoration: underline;
}

.shop-footers {
  display: flex;
  justify-content: center;
}

.footers-column {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footers {
  background-color: white;
}

.copyright-image {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.signup-container {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.signup-heading {
  font-size: 35px;
  color: #004ef0;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
}

.email-placing {
  width: 100%;
  padding: 15px;
  border: 1px solid #2882FF;
  border-radius: 25px;
}

.subscribe {
  position: absolute;
  width: 20%;
  padding: 8px;
  bottom: 8%;
  right: 2%;
  background-color: #fc5e3b;
  font-family: "Chivo Mono", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  fill: #000000;
  color: #000000;
  border-radius: 18px;
  box-shadow: 0px 4px 0px 2px #2882FF;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  color: white;
}
::placeholder {
  color: #2882FF;
  font-size: 20px;
  font-family: "Chivo Mono", Sans-serif;
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
 .main-heading{
  font-size: 50px;
 }
 .main-para{
  font-size: 12px;
 }
 .card-section{
  display: block;
  padding-left: 5%;
  padding-right: 5%;
 }
 .card1,
 .card2,
 .card3{
  transform: none;
  width: 100%;
  padding-top: 10%;
  box-shadow: none;
 }
 .protein-cap{
  display: none;
 }
 .pure-heading{
  font-size: 50px;
  line-height: 3rem;
 }
 .row-pure{
  display: flex;
  flex-direction: column-reverse;
 }
 .crafted-pure{
  font-size: 18px;
  white-space: nowrap;
  padding-left: 0%;
 }
 .power-container{
  padding: 0px;
 }
 .power-space{
  border-radius: 0px;
 }
 .power-heading{
  font-size: 50px;
  line-height: 3rem;
 }
 .weight-lift{
  width: 100%;
  padding-left:0%;
 }
 .build-para{
  font-size: 15px;
  white-space: nowrap;
 }
 .protein-slogan{
  width: 90%;
  left: 5%;
  bottom: -3%;
 }
 .raising-heading{
  font-size: 23px;
 }
 .comparison-table{
  display: block;
 }
 .comparison-column{
  height: auto;
  width: 100%;
  gap: 20px;
 }
 .wholesome-para{
  font-size: 45px;
 }
 .recepies-button{
  width: 80%;
 }
 .veg-bowl{
  top: 33%;
 }
 .muscle-para{
  bottom: 18%;
 }
 .stickers{
  width: 24%;
  top: 30%;
  left: 2%;
 }
 .arrow-point{
  bottom: 17%;
  right: 0%;
 }
 .protein-image{
  padding-top: 0%;
 }
 .milk-image{
  width: 50%;
 }
 .footers-links{
  font-size: 12px;
  transform: translateY(-120px);
 }
 .signup-container{
  bottom: 5%;
 }
 .signup-heading{
  font-size: 15px;
 }
 .email-placing{
  padding: 5px;
 }
 .subscribe{
  width: 45%;
  padding: 8px;
  bottom: 14%;
  right: 2%;
  background-color: #fc5e3b;
  font-family: "Chivo Mono", Sans-serif;
  font-size: 8px;
  box-shadow: 0px 2px 0px 1px #2882FF;
  padding: 5px 10px;
 }
 .row{
  --bs-gutter-x: 0;
 }
 ::placeholder {
  color: #2882FF;
  font-size: 10px;
  font-family: "Chivo Mono", Sans-serif;
}
.milkbg{
  width: 60%;
  height: 35%;
  top: 30%;
  left: 12%;
}
.milkbg1{
  right: 4%;
}
.milkbg2{
  right: 15%;
  top: 20%;
}
.milkbg3{
  left: 5%;
  top: 10%;
  width: 35%;
}
.object-order{
  width: 35%;
}
.order-buttons{
  flex-direction: row;
  justify-content: center;
}
.milk-button,.yogart-button,.paneer-button,.icecream-button{
  padding: 0px;
  width: 15%;
}
}