.font-larger .char[data-char="F"] {
  padding-left: 30px;
}
.home-intro {
  font-size: 21px;
  padding-top: 1%;
  font-family: "JetBrains Mono", monospace;
}
.content__title {
  font-size: 6vw;
  line-height: 0.8;
  text-align: center;
  display: grid;
  letter-spacing: 1px;
  font-weight: 400;
  gap: 0rem;
}
.content_ready {
  gap: 1rem;
}
.content__title--left {
  text-align: left;
}
.content__title--right {
  text-align: right;
}
.content__title::before {
  content: "." counter(section);
  font-weight: 400;
  display: block;
  font-size: 0rem;
  text-align: center;
}

.content__title1 {
  font-size: 6vw;
  line-height: 0.5;
  text-align: center;
  display: grid;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 500;
}
.content__title1--left {
  text-align: left;
}
.content__title1--right {
  text-align: right;
}
.content__title1::before {
  content: "." counter(section);
  font-weight: 400;
  display: block;
  font-size: 0rem;
  text-align: center;
}

.content--full {
  font-family: "FontRegular";
}

.font-upper {
  color: white;
  font-size: 95px;
}
.font-lower {
  color: white;
  font-size: 43px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  padding: var(--page-padding);
}
.content1 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  padding: var(--page-padding);
}
.content p {
  max-width: 660px;
  margin: 1.5rem auto;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
}
.content1 p {
  max-width: 660px;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
}
.font-medium {
  font-size: 6vw;
}
.font-19 {
  font-weight: initial;
  font-family: "FontRegular";
  font-variation-settings: "slnt" 0, "wght" 610;
}
.font-1 {
  font-family: "FontRegular";
  font-weight: 100;
}
.font-7 {
  font-family: "FontRegular";
  font-weight: 400;
}
.font-8 {
  font-family: "FontRegular";
  font-weight: 400;
}
.font-4 {
  font-family: "FontRegular";
  font-weight: 400;
}
.font-align {
  text-align: justify;
}
.content--full {
  padding: 0;
}
.font-larger {
  font-size: 95px;
  color: white;
}
.font-sub {
  font-size: 5vw;
  display: block;
}
.liquid {
  text-align: center;
    width: 12%;
    height: 25vh;
    border-radius: 60% 40% 40% 60% / 50% 60% 40% 50%;
    background-color: #FFFFFF;
    animation: wave 5s linear infinite;
    position: absolute;
    left: 10%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #004DF0;
    font-weight: 600;
    cursor: pointer;
    font-family: "Chivo Mono", serif;
    font-size: 35px;
}
@keyframes wave {
  20% {
      border-radius: 55% 45% 45% 55% / 55% 55% 45% 45%;
  }
  40% {
      border-radius: 50% 50% 40% 60% / 60% 50% 50% 40%;
  }
  60% {
      border-radius: 45% 55% 55% 45% / 50% 60% 40% 50%;
  }
  80% {
      border-radius: 40% 60% 60% 40% / 55% 55% 45% 45%;
  }
}
@keyframes glow {
  0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Subtle glow */
  }
  100% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 1); /* Stronger glow */
  }
}

.slider-container {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  text-align: center;
  background-image: url("./assets/background.png");
}

.home-container {
  position: relative;
  z-index: 99;
}
.svg-overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.milkbg {
  position: absolute;
  width: 35%;
  height: 90%;
  left: 35%;
}

.milkbg1 {
  position: absolute;
  right: 20%;
  bottom: 30%;
  height: auto;
  animation: floatEffect 1s ease-in-out infinite alternate;
}

.milkbg2 {
  position: absolute;
  right: 15%;
  bottom: 40%;
  height: auto;
  animation: floatEffect 1s ease-in-out infinite alternate;
}

.milkbg3 {
  position: absolute;
  left: 20%;
  top: 40%;
  height: auto;
  animation: floatEffect 1s ease-in-out infinite alternate;
}
.object-order {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  height: auto;
  animation: floatEffect 2s ease-in-out infinite alternate;
}

.object-order::after,
.milkbg1::after,
.milkbg2::after,
.milkbg3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 10%,
    rgba(255, 255, 255, 0) 60%
  );
  filter: blur(10px);
  opacity: 0.6;
  transform: translate(-50%, -50%) scale(1);
  animation: waterRipple 3s infinite ease-in-out;
}

@keyframes floatEffect {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes waterRipple {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
}

.order-paneer {
  position: absolute;
  bottom: 8%;
  left: 4%;
  cursor: pointer;
  font-family: "Chivo Mono", serif;
  font-size: 35px;
  color: #0052f0;
  font-weight: 600;
}

.order-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 6%;
  bottom: 15%;
  cursor: pointer;
  gap: 20px;
  z-index: 10;
}
.order-buttons img {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.order-buttons img.active {
  transform: scale(1.1);
  opacity: 1;
  border: none;
}

.order-buttons img:not(.active) {
  opacity: 0.5;
}

.paneer-button {
  cursor: pointer;
  pointer-events: auto;
}

.milk-button {
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  width: 90%;
  padding: 10px;
  cursor: pointer;
  pointer-events: auto;
}

.yogart-button {
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  opacity: 0.4;
  width: 90%;
  padding: 10px;
  pointer-events: auto;
}

.icecream-button {
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  opacity: 0.4;
  width: 90%;
  padding: 10px;
  pointer-events: auto;
}

/* Container pure */
.container-pure {
  background-image: url("./assets/background.png");
  position: relative;
  background-size: cover;
  background-position: center top;
  transition: background-position 0.5s ease-in-out,
    background-size 0.5s ease-in-out;
  overflow: hidden;
}
.svg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.overlay-path {
  fill: white;
  mask-image: url("./assets/background.png");
  mask-size: cover;
  mask-position: center;
  -webkit-mask-image: url("./assets/background.png");
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
}

.row-pure {
  padding-top: 12%;
}

.crafted-pure {
  color: white;
  text-transform: uppercase;
  font-family: "Chivo Mono", serif;
  font-size: 20px;
  padding-left: 10%;
}

.pure-heading {
  font-size: 100px;
  color: white;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
  line-height: 5rem;
}

.words {
  width: 85%;
}

.protein-cap {
  position: absolute;
  right: 15%;
  transform-origin: center;
}

.shop-now-button {
  background-color: #ffffff;
  font-family: "Chivo Mono", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  fill: #000000;
  color: #000000;
  border-radius: 18px;
  box-shadow: -1px 2px 0px 4px #fc5e3b;
  padding: 12px 80px;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 25%;
  left: 5%;
}

.shop-now-button:hover {
  box-shadow: -1px 2px 0px 6px #ff7a5c;
}

/* Power of protein */
.power-wrapper {
  position: relative;
  height: 500vh; 
}

.power-container{
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: white;
  width: 100%;
  z-index: 1;
  opacity: 1;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;

}
.power-container1 {
  z-index: 2;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  opacity: 1;
  padding-left: 10%;
  padding-right: 10%;
}

.power-container2 {
  z-index: 3;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  opacity: 1;
  padding-left: 10%;
  padding-right: 10%;
}

.power-space {
  background-color: #cde0fc;
  border-radius: 20px;
}
.power-space1 {
  background-color: #cde0fc;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow */
  transition: box-shadow 0.3s ease-in-out; 
}
.power-space2 {
  background-color: #cde0fc;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow */
  transition: box-shadow 0.3s ease-in-out; 
}

.build-text {
  width: 35%;
}
.row-build {
  display: flex;
  align-items: center;
}
.power-heading {
  font-size: 100px;
  color: #0052f0;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-top: 4%;
  line-height: 5rem;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}

.build {
  font-size: 40px;
  color: #fc5e3b;
  font-family: "Anybody", serif;
  font-style: italic;
  font-weight: 900;
}

.build-para {
  font-size: 20px;
  font-family: "Chivo Mono", Sans-serif;
}

.build-container {
  display: grid;
  justify-content: end;
  padding-bottom: 3%;
}

.protein-slogan {
  width: 50%;
  position: absolute;
  left: 24%;
  bottom: 2%;
}

.weight-lift {
  padding-left: 25%;
}

/* Raising Star*/

/* .raising-heading {
  opacity: 1;
}

.raising-protein {
  opacity: 1;
}

.high-protein-text {
  opacity: 1;
}

.high-protein-text p {
  margin: 0;
  font-size: 2rem;
  color: #fff;
}

.spacing {
  margin-right: 40px;
}

.comparison-table {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
}

.comparison-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 12%;
  height: 50vh;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  padding: 10px;
  position: relative;
}

.comparison-column.highlighted {
  background-color: #0052f0;
  color: white;
}

.comparison-column.labels {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
}

.label {
  font-size: 16px;
  text-align: left;
  color: #0052f0;
  font-family: "Chivo Mono", Sans-serif;
}

.product img {
  width: 40%;
}

.product .star {
  font-size: 20px;
  color: #ffcc00;
}

.icon img {
  width: 100%;
}

.value {
  font-size: 16px;
  font-family: "Chivo Mono", Sans-serif;
} */

.animation-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
}

.raising,
.bar {
  position: relative;
}

.text-wrapper h1 {
  font-size: 90px;
  font-weight: 900;
  font-style: italic;
  color: #0057ff;
  white-space: nowrap;
  margin: 0;
  font-family: "Anybody", serif;
}

.middle-text {
  text-align: center;
  font-size: 1.8rem;
  font-style: italic;
  color: #ff5733;
  transform: scale(0.5);
  position: absolute;
  left: 54%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.2;
  font-family: "Anybody", serif;
}
.spacing {
  margin-right: 40px;
}

.comparison-table {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
}

.comparison-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 12%;
  height: 50vh;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  padding: 10px;
  position: relative;
}

.comparison-column.highlighted {
  background-color: #0052f0;
  color: white;
}

.comparison-column.labels {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
}

.label {
  font-size: 16px;
  text-align: left;
  color: #0052f0;
  font-family: "Chivo Mono", Sans-serif;
}

.product img {
  width: 40%;
}

.product .star {
  font-size: 20px;
  color: #ffcc00;
}

.icon img {
  width: 100%;
}

.value {
  font-size: 16px;
  font-family: "Chivo Mono", Sans-serif;
}

/* Wholesome */
.wholesome-container {
  position: relative;
  overflow: hidden;
}

.wholesome-heading {
  text-align: center;
  position: relative;
  z-index: 1;
}

.protein-packed {
  color: #fc5e3b;
  font-size: 25px;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

.wholesome-para {
  font-size: 115px;
  color: #0051f1;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1em;
  padding-bottom: 8%;
}

.veg-bowl {
  position: absolute;
  top: 12%;
  width: 20%;
  right: 40%;
}

.recepies-button {
  cursor: pointer;
}
.Subscribe-button1 {
  font-family: "Chivo Mono", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: #0052F0;
  border: none;
  width: 20%;
  padding: 15px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border: 2px solid #0052F0;
}
.Subscribe-button1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -2px;
  width: 100%;
  height: 100%;
  border: 2px solid #0052F0;
  border-radius: 12px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.Subscribe-button1:hover {
  transform: translateY(6px);
  box-shadow: none;
  background-color: #0052F0;
}
.Subscribe-button1:hover::after {
  bottom: -2px;
  left: -2px  ;
  opacity: 0;
}

.stickers {
  position: absolute;
  top: 20%;
  left: 24%;
  transform-origin: top right; 
  transform: rotate(70deg);
  animation: swing 2s ease-in-out infinite alternate;
}
@keyframes swing {
  0% {
    transform: rotate(-15deg); 
  }
  100% {
    transform: rotate(15deg); 
  }
}

.muscle-para {
  position: absolute;
  right: 10%;
  bottom: 32%;
  text-align: justify;
  font-size: 18px;
  font-family: "Chivo Mono", Sans-serif;
}

.arrow-point {
  position: absolute;
  bottom: 15%;
  right: 30%;
  height: 15vh;
}

.slider-image {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.left {
  left: 10%;
}

.right {
  right: 10%;
}

.arrow:hover {
  color: #007bff;
}

/* .button-receipe {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #e74c3c;
  border: none;
  padding: 15px 30px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border: 2px solid #e74c3c;
}
.button-receipe::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: -1px;
  width: 100%;
  height: 100%;
  border: 2px solid #e74c3c;
  border-radius: 12px;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}
.button-receipe:hover {
  transform: translateY(6px);
  box-shadow: none;
  box-shadow: 1px 1px 0px rgba(231, 76, 60, 0.5);
}
.button-receipe:hover::after {
  bottom: -2px;
  left: -2px;
} */

/* Paradigm */
/* .container-paradigm {
  background-color: white;
  padding-bottom: 10%;
  padding-top: 10%;
  min-height: 100vh;
}

.icon-paradigm {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.paradigm-heading {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  text-align: center;
}

.main-heading {
  font-size: 100px;
  color: #004ef0;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
}

.paradigm-para {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  text-align: center;
}

.main-para {
  font-size: 20px;
  font-family: "Chivo Mono", serif;
  text-transform: uppercase;
}

.link-to-know {
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  text-align: center;
  font-family: "Chivo Mono", serif;
  font-weight: 800;
  padding-top: 10%;
} */
.parent-container {
  position: relative;
  overflow: hidden;
}

.container-paradigm {
  background-color: white;
  padding-bottom: 10%;
}

.main-heading span {
  display: inline-block;
  opacity: 0;
  transform: translateX(-50px);
}
.icon-paradigm {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.paradigm-heading {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  text-align: center;
}

.main-heading {
  font-size: 100px;
  color: #004ef0;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
}

.paradigm-para {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  text-align: center;
}

.main-para {
  font-size: 20px;
  font-family: "Chivo Mono", serif;
  text-transform: uppercase;
}

.link-to-know {
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  text-align: center;
  font-family: "Chivo Mono", serif;
  font-weight: 800;
  padding-top: 10%;
}
.steps {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  padding: 0;
}
.cards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150vw;
  height: 600px;
  will-change: transform;
}

.card {
  position: absolute;
  width: 400px;
  height: 550px;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  margin-left: -200px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  will-change: transform;
  border-radius: 25px;
  transition: transform 0.3s ease;
  perspective: 1000px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.card-img {
  flex: 1;
  border-radius: 0.5em;
  overflow: hidden;
}

.card-content {
  width: 100%;
  height: 60px;
}

.card-content p {
  text-align: left;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  display: flex;
  justify-content: center;
}

.card-border {
  height: 100%;
  margin: 25px;
  border-radius: 10px;
  border: 1px solid #fff;
}

.card-section {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 3%;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.card:hover .card-inner {
  transform: rotateY(180deg) scale(1.1);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.card-front {
  background: #004ef0;
  color: white;
  transform: rotateY(0deg);
}

.card-back {
  background: white;
  color: #004ef0;
  transform: rotateY(180deg);
  border: 1px solid #004ef0;
}

.card-icon {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card-text {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
}

.back-text {
  font-size: 15px;
  font-weight: bold;
  font-family: "Chivo Mono", serif;
  color: #000000;
}

.back-heading {
  color: #004ef0;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Anybody", serif;
  font-weight: 900;
}

/* Proteins */
.proteins-container {
  padding-top: 10%;
  background-image: url("./assets/Backgroundmilk.png");
  background-size: cover;
  position: relative;
}

.protein-image {
  width: 100%;
  padding-top: 10%;
}
.overlay-path1 {
  fill: white;
  mask-image: url("./assets/Backgroundmilk.png");
  mask-size: cover;
  mask-position: center;
  -webkit-mask-image: url("./assets/Backgroundmilk.png");
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
}

/* Milk */
.milk-image {
  padding-left: 5%;
  width: 30%;
  padding-top: 5%;
}
.milk-pic-container {
  display: flex;
  justify-content: center;
}

.footers-links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 35px;
  color: white;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
  padding-right: 14%;
}

.footers-links li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: text-decoration 0.3s ease;
}

.footers-links li:hover {
  text-decoration: underline;
}

.shop-footers {
  display: flex;
  justify-content: center;
}

.footers-column {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footers {
  background-color: white;
}

.copyright-image {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.signup-container {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.signup-heading {
  font-size: 35px;
  color: #004ef0;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
}

.email-placing {
  width: 100%;
  padding: 15px;
  border: 1px solid #2882ff;
  border-radius: 25px;
}

.subscribe {
  position: absolute;
  width: 20%;
  padding: 8px;
  bottom: 8%;
  right: 2%;
  background-color: #fc5e3b;
  font-family: "Chivo Mono", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  fill: #000000;
  color: #000000;
  border-radius: 18px;
  box-shadow: 0px 4px 0px 2px #2882ff;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  color: white;
}
::placeholder {
  color: #2882ff;
  font-size: 20px;
  font-family: "Chivo Mono", Sans-serif;
}

.Subscribe-button {
  font-family: "Chivo Mono", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: #E74C3C;
  border: none;
  width: 20%;
  padding: 8px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  /* box-shadow: 0px 4px 0px 2px #2882ff; */
  border: 2px solid #E74C3C;
  bottom: 10%;
  right: 2%;
  position: absolute;
}
.Subscribe-button::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: -2px;
  width: 100%;
  height: 100%;
  border: 2px solid #E74C3C;
  border-radius: 12px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.Subscribe-button:hover {
  transform: translateY(6px);
  box-shadow: none;
  /* box-shadow: 1px 1px 0px rgba(231, 76, 60, 0.5); */
}
.Subscribe-button:hover::after {
  bottom: -2px;
  left: -2px  ;
  opacity: 0;
}
/* Sample Testing */
.main-heading span {
  display: inline-block;
  opacity: 0;
  transform: translateX(-50px);
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  .main-heading {
    font-size: 50px;
  }
  .main-para {
    font-size: 12px;
  }
  .card-section {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
  }
  .card1,
  .card2,
  .card3 {
    transform: none;
    width: 100%;
    padding-top: 10%;
    box-shadow: none;
  }
  .protein-cap {
    display: none;
  }
  .pure-heading {
    font-size: 50px;
    line-height: 3rem;
  }
  .row-pure {
    display: flex;
    flex-direction: column-reverse;
  }
  .crafted-pure {
    font-size: 18px;
    white-space: nowrap;
    padding-left: 0%;
  }
  .power-container {
    padding: 0px;
  }
  .power-space {
    border-radius: 0px;
  }
  .power-heading {
    font-size: 50px;
    line-height: 3rem;
  }
  .weight-lift {
    width: 100%;
    padding-left: 0%;
  }
  .build-para {
    font-size: 15px;
    white-space: nowrap;
  }
  .raising-star {
    gap: 30px;
  }
  .protein-slogan {
    width: 90%;
    left: 5%;
    bottom: -3%;
  }
  .raising-heading {
    font-size: 23px;
    padding-left: 1%;
  }
  .comparison-table {
    display: block;
  }
  .comparison-column {
    height: auto;
    width: 100%;
    gap: 20px;
  }
  .wholesome-para {
    font-size: 45px;
  }
  .recepies-button {
    width: 80%;
  }
  .veg-bowl {
    top: 33%;
  }
  .muscle-para {
    bottom: 18%;
  }
  .stickers {
    width: 24%;
    top: 30%;
    left: 2%;
  }
  .arrow-point {
    bottom: 17%;
    right: 0%;
  }
  .protein-image {
    padding-top: 0%;
  }
  .milk-image {
    width: 50%;
  }
  .footers-links {
    font-size: 12px;
    transform: translateY(-120px);
  }
  .signup-container {
    bottom: 5%;
  }
  .signup-heading {
    font-size: 15px;
  }
  .email-placing {
    padding: 5px;
  }
  .subscribe {
    width: 45%;
    padding: 8px;
    bottom: 14%;
    right: 2%;
    background-color: #fc5e3b;
    font-family: "Chivo Mono", Sans-serif;
    font-size: 8px;
    box-shadow: 0px 2px 0px 1px #2882ff;
    padding: 5px 10px;
  }
  .row {
    --bs-gutter-x: 0;
  }
  ::placeholder {
    color: #2882ff;
    font-size: 10px;
    font-family: "Chivo Mono", Sans-serif;
  }
  .milkbg {
    width: 60%;
    height: 35%;
    top: 30%;
    left: 12%;
  }
  .milkbg1 {
    right: 4%;
  }
  .milkbg2 {
    right: 15%;
    top: 20%;
  }
  .milkbg3 {
    left: 5%;
    top: 10%;
    width: 35%;
  }
  .object-order {
    width: 35%;
  }
  .order-buttons {
    flex-direction: row;
    justify-content: center;
  }
  .milk-button,
  .yogart-button,
  .paneer-button,
  .icecream-button {
    padding: 0px;
    width: 15%;
  }
  .milk-pic-container {
    justify-content: flex-start !important;
  }
}
