.preload-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  line-height: 1em;
  font-family: "Anybody_Condensed";
  font-size: 200px;
  text-align: center;
  font-weight: 900;
  overflow: hidden;
}

.word {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.letter {
  opacity: 0;
  transform: translateY(20px);
  background: url("./assets/background.png") no-repeat center center/cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 0.5px transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 1s ease-in;
  will-change: opacity, transform;
  padding-left: 6px;
  padding-right: 10px;
  position: relative;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.word-alignment {
  position: relative;
  z-index: 4;
  color: black; /* Default text color */
}

/* Text will appear white when covered by the mask */
.word-alignment .letter {
  background-blend-mode: normal;
}

/* Masking effect */
.mask1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  -webkit-mask-image: url("./assets/Ellipse\ 42.png");
  mask-image: url("./assets/Ellipse\ 42.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 10%;
  transform: translate(-50%, -50%);
  opacity: 1;
  /* background: white; */
  mix-blend-mode: normal; /* Prevent blending */
}

.mask1.mask-expand ~ .word-alignment .letter {
  color: white; /* This turns text pure white when mask covers it */
}

.mask1.mask-expand {
  animation: expandMask 4s ease-in-out forwards;
}

@keyframes expandMask {
  from {
    mask-size: 10%;
  }

  to {
    mask-size: 300%;
  }
}

.masking {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .preload-container {
    font-size: 55px;
  }
  /* .letter {
    padding-left: 0;
  } */
}
