.product-details-container {
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 7%;
}

.row {
  --bs-gutter-x: 0rem;
}

.product-details-left {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-style: dashed;
  border-left: none;
  padding-left: 100px;
  padding-right: 100px;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: 65% 30%;
  /* background-size: 60%; */
  position: relative;
  z-index: 1;
}

.main-product-background {
  /* background-image: url("./assets/Vector\ \(1\).png"); */
  background-repeat: no-repeat;
  background-position: 65% 30%;
  background-size: 70%;
}

.milking-banner {
  position: absolute;
  z-index: -1;
  width: 58%;
  left: 25%;
  top: 5%;
}

.product-details-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  padding-left: 3%;
  padding-top: 10%;
}

.product-details-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid black;
  border-style: dashed;
  border-right: none;
  padding: 30px;
  border-left: none;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.milk-product {
  position: absolute;
  left: 3%;
  bottom: 6%;
}

.icecream-product {
  position: absolute;
  left: 3%;
  bottom: 18%;
}

.paneer-product {
  position: absolute;
  left: 3%;
  bottom: 30%;
}

.mmg-product {
  position: absolute;
  left: 3%;
  bottom: 42%;
}

.image-variant {
  width: 100%;
  height: 70px;
  border: 1px solid white;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
}

.product-icons-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 3%;
  bottom: 8%;
}

.horizontal-line {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: black;
  border-style: dotted;
  opacity: 1;
}

.details-title {
  font-size: 55px;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
  margin: 0;
  line-height: 3.5rem;
  text-transform: uppercase;
}

.variant-selection,
.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-control button {
  padding: 5px 10px;
  font-size: 16px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.add-to-cart-button,
.buy-now-button {
  background-color: #ffffff;
  font-family: "Chivo Mono", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  fill: #000000;
  color: #000000;
  border-radius: 18px;
  box-shadow: -1px 2px 0px 4px #fc5e3b;
  padding: 12px 80px;
  cursor: pointer;
  border: none;
}

.add-to-cart-button:hover,
.buy-now-button:hover {
  box-shadow: -1px 2px 0px 6px #ff7a5c;
}

.Subscribe-button-cart,
.Subscribe-button-buy {
  font-family: "Chivo Mono", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
  background-color: #fff;
  border: none;
  width: 48%;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border: 2px solid #f04e2a;
  box-shadow: -5px 5px #f04e2a;
}

.Subscribe-button-cart:hover,
.Subscribe-button-buy:hover {
  transform: translateY(6px);
  box-shadow: none;
  color: white;
  background-color: #f04e2a;
}

.Subscribe-button-cart:hover::after,
.Subscribe-button-buy:hover::after {
  bottom: -2px;
  left: -2px;
  opacity: 0;
}

.Subscribe-button-pack {
  font-family: "Chivo Mono", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  background-color: white;
  border: none;
  width: 20%;
  padding: 8px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border: 2px solid #000000;
  /* margin-bottom: 10%; */
  position: relative;
  box-shadow: -5px 5px;
}

.Subscribe-button-pack:hover {
  transform: translateY(6px);
  box-shadow: none;
  background-color: grey;
  box-shadow: none;
  color: white;
}

.Subscribe-button-pack.active {
  transform: translateY(6px);
  box-shadow: none;
  background-color: #f04e2a;
  box-shadow: none;
  color: white;
}

.Subscribe-button-pack:hover::after {
  bottom: -2px;
  left: -2px;
  opacity: 0;
}

.feature-icons {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin: 20px 0;
}

.feature-item {
  text-align: center;
  flex: 1;
}

.feature-cow {
  display: grid;
  justify-content: flex-start;
}

.feature-protein {
  display: grid;
  justify-content: flex-end;
}

.feature-item img {
  max-width: 60px;
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px; */
  gap: 20px;
}

.text-family {
  font-family: "Chivo Mono", serif;
  margin-bottom: 0;
  font-size: 14px;
}

.pack-button {
  box-shadow: -2.88px 4.8px 0px 0px #000000;
  background-color: #fff;
  color: #000;
  margin-right: 10px;
  margin-bottom: 30px;
  border-radius: 4.8px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  font-family: "Chivo Mono", serif;
  border: 1px solid;
  text-transform: uppercase;
}

.pack-button:hover {
  background: #f04e2a;
}

.pack-button:disabled {
  background: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

.pack-buttons {
  display: flex;
  gap: 20px;
  padding-bottom: 3%;
}

.quantity {
  font-size: 20px;
  font-family: "Chivo Mono", serif;
  padding-bottom: 2%;
  text-transform: uppercase;
}

.purchase-options label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  font-family: "Chivo Mono", Sans-serif;
}

.purchase-option-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px dotted #000;
}

.purchase-options input[type="radio"] {
  margin-right: 10px;
}

.price {
  font-weight: bold;
  margin-left: auto;
}
.weight-buttons{
  display: flex;
  gap: 25px;
}
/* Cart Panel Styling */
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.1);
  /* Mild blue overlay */
  backdrop-filter: blur(10px);
  /* Apply background blur */
  z-index: 99998;
  /* Below cart but above everything else */
  transition: opacity 0.3s ease;
}

.cart-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.cart-panel.open {
  transform: translateX(0);
}

.cart-panel.closed {
  transform: translateX(100%);
}

.cart-panel-heading {
  font-family: "Anybody", serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  color: #0052f0;
  text-transform: uppercase;
  text-align: justify;
  width: fit-content;
}

.cart-items-wrapper {
  overflow-y: auto;
  flex: 1;
}

.close-cart {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  color: #0052f0;
  cursor: pointer;
  font-weight: 100;
}

.cart-item {
  display: flex;
  padding-top: 10%;
}

.cart-image {
  width: 30%;
  height: 40%;
}

.cart-title {
  font-size: 18px;
  font-family: "Chivo Mono", serif;
  text-transform: uppercase;
  color: #0052f0;
}

.cart-details {
  display: grid;
}

.remove-items {
  color: #686868;
  cursor: pointer;
}

.cart-selection {
  display: flex;
}

.checkout-option {
  /* display: flex;
  justify-content: center; */
}

.subtotal {
  font-family: "Chivo Mono", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #0052f0;
}

.checkout-total {
  display: flex;
  justify-content: space-between;
}

.subtotal-amount {
  font-family: "Chivo Mono", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #0052f0;
}

.qty-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Chivo Mono", Sans-serif;
  font-weight: 600;
  justify-content: space-between;
}

.qty-buttons {
  display: flex;
  gap: 10px;
}

.qty-quantity {
  font-size: 18px;
  margin-bottom: 10px;
}

.items-price {
  font-size: 18px;
  font-family: "Chivo Mono", serif;
  text-transform: uppercase;
  color: #0052f0;
}

.circle-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #323232;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #323232;
}

.circle-btn:hover {
  background-color: #000;
  color: #fff;
}

/* .checkout {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
} */
.checkout {
  font-family: "Chivo Mono", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: #0052f0;
  border: none;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border: 2px solid #0052f0;
}

.checkout::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: -2px;
  width: 100%;
  height: 100%;
  border: 2px solid #0052f0;
  border-radius: 5px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.checkout:hover {
  transform: translateY(6px);
  box-shadow: none;
}

.checkout:hover::after {
  bottom: -2px;
  left: -2px;
  opacity: 0;
}

.product-details-page {
  display: flex;
  flex-direction: column;
}

.accordion-container {
  width: 100%;
}

.accordion-section {
  background-color: #ffedd8;
  border: 1px dashed black;
  position: relative;
  padding: 60px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-text {
  text-align: left;
  font-size: 35px;
  font-weight: bold;
  font-family: "Anybody", serif;
}

.accordian-para {
  font-size: 16px;
  font-family: "Chivo Mono", serif;
}

.accordion-icon {
  font-size: 50px;
  font-weight: bold;
  color: #333;
}

.accordion-content {
  margin-top: 10px;
  color: #333;
}

.accordion-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
  color: #333;
}

.accordion-close:hover {
  color: #333;
}

.faq-content {
  padding: 10px;
  border-radius: 5px;
}

.faq-content strong {
  font-size: 1.1em;
  color: #333;
}

.faq-content p {
  margin: 5px 0;
  color: #555;
}

.review-image {
  width: 15%;
}

.metafield-container {
  background-color: white;
  padding-top: 7%;
  padding-bottom: 7%;
  position: relative;
  overflow-x: hidden;
}

.metafield-ingredients {
  background-image: url("./assets/mmg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.metafield-total {
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
  margin: 0 400px;
}

.metafield-question {
  color: #0054f1;
  font-size: 30px;
  font-family: "Anybody", serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

.metafield-answer {
  color: #000;
  font-size: 16px;
  font-family: "Chivo Mono", serif;
  text-transform: uppercase;
  padding-bottom: 5%;
}

.nutrition-lift {
  width: 20% !important;
  position: absolute;
  right: 10%;
  top: -15%;
}

.ingredients-row {
  padding: 100px;
  position: relative;
}

.nutritional-title-container {
  border: 1px dashed white;
  border-radius: 15px;
  padding: 30px;
  width: 85%;
}

.nutritional-items-total {
  display: flex;
  gap: 40px;
  padding-top: 5%;
}

.nutrients-imaging {
  position: absolute;
  bottom: 24%;
  right: 7%;
}

.ingredients-first {
  position: relative;
}

.ingredients-title {
  font-family: "Anybody_Condensed";
  font-size: 40px;
  color: white;
  text-transform: uppercase;
}

.ingredients-para {
  font-family: "Chivo Mono", serif;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  width: 70%;
}

.nutritional-energy {
  font-family: "Chivo Mono", serif;
  color: white;
  font-size: 40px;
  font-weight: 700;
}

/* Raising Protein */
.texting-wrapper-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.raising-1 {
  font-size: 150px;
  font-family: "Anybody_Condensed";
  color: #0052f0;
  font-weight: 700;
  font-style: italic;
}

.bar-proteins-1 {
  font-size: 150px;
  font-family: "Anybody_Condensed";
  color: #0052f0;
  font-weight: 700;
  font-style: italic;
}

.high-proteins-1,
.low-proteins-1 {
  font-size: 30px;
  font-family: "Anybody_Condensed";
  color: #fc5e3b;
  font-weight: 700;
  font-style: italic;
}

.nutritional-highlights {
  font-family: "Anybody_Condensed";
  font-size: 40px;
  color: white;
  text-transform: uppercase;
}

.energy-para {
  font-family: "Chivo Mono", serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.nutritional-space {
  padding-top: 15%;
}

.ingredients-list {
  width: 80%;
  position: absolute;
  left: 15%;
  top: 5%;
}

.words-image {
  position: absolute;
  top: 10%;
  left: 0;
}
.product-position {
}

.review-heading {
  font-family: "Anybody_Condensed";
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #0054f1;
}

.rating-para {
  font-family: "Chivo Mono", serif;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  padding-right: 30%;
  padding-top: 10%;
}

.rating-review {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.review-title {
  position: relative;
}

.orange-star1 {
  position: absolute;
  right: 10%;
  bottom: 30%;
  width: 15%;
}

.orange-star {
  position: absolute;
  width: 8%;
  left: 16%;
}

.reviews-40 {
  font-family: "Chivo Mono", serif;
  text-transform: uppercase;
  font-size: 15px;
  color: #aaa;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.page-number {
  background: transparent;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  color: #555;
}

.page-number.active {
  color: #0052f0;
  font-weight: bold;
}

.prev-button,
.next-button {
  color: #0052f0;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  background: transparent;
}

.rating-number {
  font-family: "Chivo Mono", serif;
  font-size: 50px;
  color: #0054f1;
}

.review-button {
  display: flex;
  justify-content: center;
  padding-top: 7%;
}

.reviewer-section {
  display: flex;
  gap: 25px;
  padding-bottom: 2%;
  align-items: baseline;
}

.reviewer-days,
.reviewer-name {
  padding-top: 4%;
  color: #aaa;
  font-family: "Chivo Mono", Sans-serif;
  text-transform: uppercase;
  font-size: 13px;
}

.reviewer-days1,
.reviewer-name1 {
  padding-top: 2%;
  color: #aaa;
  font-family: "Chivo Mono", Sans-serif;
  text-transform: uppercase;
  font-size: 13px;
}

.reviewer-days2,
.reviewer-name2 {
  padding-top: 2%;
  color: #aaa;
  font-family: "Chivo Mono", Sans-serif;
  text-transform: uppercase;
  font-size: 13px;
}

.reviewer-title {
  font-family: "Chivo Mono", serif;
  font-size: 25px;
}

.reviewer-para {
  font-family: "Chivo Mono", serif;
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 2%;
}

.reviews-row {
  padding-top: 5%;
}

.review-button-contact {
  font-family: "Chivo Mono", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: #0052f0;
  border: none;
  width: 50%;
  padding: 8px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border: 2px solid #0052f0;
}

.review-button-contact::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: -2px;
  width: 100%;
  height: 100%;
  border: 2px solid #0052f0;
  border-radius: 12px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.review-button-contact:hover {
  transform: translateY(6px);
  box-shadow: none;
}

.review-button-contact:hover::after {
  bottom: -2px;
  left: -2px;
  opacity: 0;
}

.star-rating {
  display: flex;
  gap: 10px;
}

.star-icon {
  width: 20px;
  height: 20px;
}

.star-5 {
  width: 100%;
  padding-top: 6%;
  display: flex;
  gap: 5px;
}

.star-4 {
  width: 20%;
  padding-top: 2%;
}

.spacing-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
}

.high-protein-heading {
  font-family: "Anybody_Condensed";
  font-size: 65px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-top: 9%;
  padding-bottom: 5%;
}

.graph-image {
  width: 65%;
}

.milk-image-product {
  width: 30%;
  padding-top: 8%;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 400px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
  background: #0044cc;
}

.bar-wrapper {
  text-align: center;
  width: 18%;
  position: relative;
}

.icon {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.bar {
  width: 100%;
  height: 300px;
  /* Full height */
  border: 2px dashed white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.bar-fill {
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: height 0.5s ease-in-out;
}

.bar-text {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
/* text-anim */

@media only screen and (max-width: 500px) and (min-width: 320px) {
  .product-details-container {
    display: block;
    padding-top: 22%;
  }

  .product-details-left {
    background-size: contain;
    padding: 0px;
    background-repeat: repeat;
  }

  .product-lisiting-icon {
    display: none;
  }

  .product-details-right {
    padding: 0px;
    display: block;
  }

  .feature-icons {
    gap: 0px;
  }

  .Subscribe-button-cart,
  .Subscribe-button-buy {
    width: 45%;
  }

  .metafield-total {
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
  }

  .details-title {
    font-size: 35px;
    padding-top: 5%;
  }

  .Subscribe-button-pack {
    width: 28%;
  }

  .purchase-option-row {
    padding: 10px 10px;
  }

  .feature-item img {
    max-width: 45px;
  }

  .text-family {
    font-size: 12px;
  }

  .button-row {
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .pack-buttons {
    justify-content: center;
  }

  .metafield-answer {
    padding-bottom: 0%;
  }

  .words-image {
    display: none;
  }

  .ingredients-row {
    padding: 20px;
  }

  .nutrition-lift {
    width: 45% !important;
    right: 0%;
    top: -10%;
  }

  .nutritional-highlights {
    font-size: 20px;
  }

  .nutritional-energy {
    font-size: 20px;
  }

  .nutritional-items-total {
    gap: 12px;
  }

  .nutritional-title-container {
    width: 100%;
  }

  .nutrients-imaging {
    bottom: 30%;
    right: 0;
    width: 30%;
    right: 10%;
  }

  .metafield-items {
    padding: 5px;
  }

  .ingredients-list {
    width: 100%;
    padding-top: 10%;
    position: static;
  }

  .star-4 {
    width: 35%;
  }

  .reviews-space-pad {
    padding-top: 6%;
  }

  .reviewer-section {
    align-items: flex-start;
  }

  .reviewer-title-container {
    padding: 5px;
  }

  .texting-wrapper-1 {
    /* display: block; */
  }

  .raising-1,
  .bar-proteins-1 {
    font-size: 35px;
  }

  .animations-container {
    text-align: center;
  }

  .high-proteins-1,
  .low-proteins-1 {
    font-size: 15px;
  }

  .comparison-table {
    display: block !important;
  }

  .graph-image {
    width: 96%;
  }

  .comparison-column {
    gap: 30px;
    width: 100% !important;
  }

  .product-label {
    display: none;
  }

  .comparison-table {
    padding-top: 0;
  }

  .high-protein-heading {
    font-size: 26px;
  }

  .proteins-container-1 {
    background-position: 60% 100%;
  }

  .milk-image-product {
    padding-top: 10%;
    width: 60%;
  }

  .labels {
    width: 100% !important;
  }

  .metafield-container {
    overflow: hidden;
  }

  .reviewer-days,
  .reviewer-name {
    padding-top: 0%;
  }

  .cart-panel {
    width: 100%;
  }
}

@media only screen and (max-width: 1900px) and (min-width: 1600px) {
  .details-title {
    font-size: 55px;
    line-height: 4rem;
  }
}

@media only screen and (max-width: 1750px) and (min-width: 1500px) {
  .product-details-right {
    gap: 4px;
  }
  .product-details-image {
    padding-top: 15%;
  }
}

@media only screen and (max-width: 500px) and (min-width: 320px) {
  .product-details-left {
    padding: 0px;
  }
  .metafield-ingredients {
    background-position: 50%;
  }
}

@media only screen and (max-width: 2200px) and (min-width: 1600px) {
  .ingredients-row {
    padding: 125px;
  }
  .ingredients-list {
    width: 70%;
  }
}
