.terms-conditions {
  padding-top: 12%;
  background-color: #f3f3f3;
}

.terms-heading {
  text-align: center;
  padding-bottom: 5%;
  font-size: 55px;
  font-family: "Anybody", serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

.conditions {
  padding-bottom: 40px;
  border-bottom: 1px dotted #000;
}

.terms-title {
  font-size: 21px;
  margin-top: 30px;
  font-weight: bold;
  font-family: "Chivo Mono", Sans-serif;
  text-transform: capitalize;
}
.terms-para {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Chivo Mono", Sans-serif;
  padding-left: 40px;
  margin-top: 4%;
  color: #555;
}
.terms-spacing {
  max-width: 1007px;
  margin: 0 auto;
  padding: 50px;
}
.list-terms {
  padding-left: 1rem;
}
.mail-terms {
  font-family: "Chivo Mono", Sans-serif;
  font-size: 16px;
}
.shipping-link {
  text-decoration: none;
}
.shipping-link:hover {
  text-decoration: underline;
}
.mail-mailto {
  font-size: 16px;
  text-transform: lowercase;
  text-decoration: none;
}
.mail-mailto:hover {
  text-decoration: underline;
}
.listing-terms {
  padding-left: 2rem;
  padding-top: 1%;
}
@media only screen and (max-width: 500px) and (min-width: 320px) {
  .terms-heading {
    font-size: 35px;
  }
  .terms-conditions {
    padding-top: 30%;
  }
  .terms-para {
    padding-left: 0%;
  }
  .terms-spacing {
    padding: 30px;
  }
  .terms-height {
    line-height: 25px;
  }
}
